{{!-- Sources are cited in main.handlebars --}}

<body>

    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="/">KB Reviews</a>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center">
                    <nav class="nav d-flex justify-content-end">
                        <a class="p-2 text-muted" href="/">History</a>
                        <a class="p-2 text-muted" href="/tour-dates">Tour Dates</a>
                    </nav>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#" aria-label="Search"></a>
                        <a class="btn btn-sm btn-outline-secondary" href="/sign-up">Sign up</a>
                    </div>
                </div>
        </header>
    </div>

    <div class="container">
        <div id="album-jumbo" class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Album Rankings</h1>
                <p class="lead my-3">
                    Every time I buy a Radiohead album,<br>
                    I have a moment where I say to myself, <br>
                    "Maybe this is the one that will suck." <br>
                    But it never does. I wonder if it's even <br>
                    possible for them to be bad on <br>
                    record. - <em>Rolling Stone</em></p>
            </div>
        </div>
    </div>

    <main role="main" class="container" id="blog-ranking">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">The Breakdown</h2>
                    {{!-- A majority of the information is sourced from:
                     https://radiohead.fandom.com/wiki/Radiohead--}}
                    <p>Radiohead have released nine studio albums over the past two decades. In this review, I
                        will choose my personal top three with explanations and in-depth breakdowns.</p>

                    <h3>#3 - <em>OK Computer</em> (1997)</h3>
                    <br>
                    <img src="https://i.imgur.com/Hf33iU0.png" class="review">
                    <br>
                    <p>Despite being released in 1997, <em>OK Computer </em>is sometimes considered the first 21st
                        century album. <em> OK
                            Computer </em> takes a turn away from traditional rock and roll, and instead comes from a
                        place of anxeity and paranoia. This album is a clinical move into the cold and empirical, a
                        transitional work before the band nosedives into electronica that triggered <em>Kid A</em>.
                    </p>
                    <p>Each song is a monument in its own right, performed with an artistry that sounds somehow
                        effortless in spite of the album's musical complexities. Dubbed as the album's greatest song,
                        "Paranoid Android", is the band's most ambitious moment.
                        Every second counts, there are drastic changes in rhythm and style that make this song a
                        masterpiece.</p>

                    <p>Controversially, I would say my favorite song off the album is "Karma Police". This is the first
                        song that I had ever listened to by Radiohead and was immediately hooked. The title
                        originates from an inside joke where the members would threaten to call the "karma police" if
                        someone did something bad.</p>

                    <p>With the release of <em>OK Computer</em> the fortunes of Radiohead were changed almost overnight.
                        The album was a significant step up the podium to their now legendary status. They were on a
                        roll
                        and had proven the music executives of the time had nary a clue what would be successful in the
                        popular music world. Here is also where the band turned from being an obscure alternative band
                        to the designated observer and pulse taker of civilization’s fevered insanity. Overall, <em>OK
                            Computer</em> is a timeless classic and the themes and lessons that can be gained
                        from this album are as relevant now as they were in 1997, maybe even more so.</p>

                    <h3>#2 - <em>Kid A</em> (2000)</h3>
                    <br>
                    <img src="https://i.imgur.com/7wRrHR5.png" class="review">
                    <br>
                    <p>This album is a bold break from the band's previous album, <em>OK
                            Computer</em>. Radiohead went in the opposite direction of their current sound, and created
                        an album merged with
                        electronica, rock, ambient music, and even jazz. Guitars were replaced with atmospheric synths,
                        keyboards, and drum machines.</p>
                    <p>
                        In a 2008 interview, Radiohead guitarist Ed O'Brien reflected on the creation of
                        <em>Kid A</em>:
                        “There’s a great story; one of our managers says that when they first played it for the
                        publishing company, we’d just re-signed with them, they’re expecting like, you know, guitars and
                        so the first song, “Everything in its Right Place”: not a guitar. The second song, “Kid A”: not
                        a guitar. The third song, “The National Anthem”: not a guitar; and they’re literally sweating.”
                    </p>

                    <p>"Idioteque" is the album's key track and centrepiece; cold, icy synths and irritant drum patterns
                        suggesting a distant mood, and matching Yorke's fast-paced vocal delivery. The song’s refrain
                        highlights the frenzy that underpins it, and Yorke’s growth in being better able to interpret
                        the physical world.</p>

                    <p>In so many ways Kid A is an intriguing walk through the minds of 5 brilliant individuals viewing
                        their misgivings, fears and demons. The album that at its release some critics and music
                        industry professionals called a commercial suicide note has gone on to become one of the most
                        esteemed albums of the 2000s</p>

                    <h3>#1 - <em>In Rainbows</em> (2007)</h3>
                    <br>
                    <img src="https://i.imgur.com/qcTvxkz.jpg" class="review"></>
                    <br>
                    <p><em>In Rainbows</em> sees the band enter into uncharted territory that was merely grazed in
                        previous albums. Here is there poppiest, most guitar-based collection of songs in more than a
                        decade, a pronounced swerve away from the chilly electronic and crushing paranoia that had been
                        a hallmark of their sound since <em>OK Computer</em> and swallowed it up completely on <em>Kid
                            A.</em>
                    <p>The opening song "15 Step" starts with an
                        upbeat, dance-y vibe accompained by Yorke's trademark waxing voice. Emerging in the background
                        are heavy drum loops spurring the song forward. A sliding guitar riff comes in, setting a
                        contrast that will be present for the entirety of the album.</p>
                    </p>

                    <p>"Nude", the third song on the album is easily in my top 5 Radiohead songs of all time.
                        "Nude" is about one's faults, and the fact that your dreams most likely will never come
                        true...but it's an optimistic take on that. Life is full of faults and nobody in the world is
                        perfect. There's some beauty in how imperfect life is. It's hard to truly begin to describe how
                        magical the song is. If there is one song for anyone interested in Raiohead I would
                        highly recommend this one.</p>

                    <p>There is a warmth to this album that aren't present in their earlier albums.
                        <em>In
                            Rainbows</em> is less intense and altogether more comforting, a great entry album to begin
                        exploring the rest of Radiohead's discography. This is Radiohead at the absolute peak
                        of all their illustrious powers. The band opened another chapter in
                        their epic career with “In Rainbows” entering their second decade with a marvel of musical
                        brilliance.</p>

                </div>

            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">Check out the lyrics</h4>
                    <p class="mb-0">
                        <span>
                            <strong>"Karma Police"</strong> -
                            <br>
                            Karma police
                            <br>
                            Arrest this man
                            <br>
                            He talks in maths
                            <br>
                            He buzzes like a fridge
                            <br>
                            He's like a detuned radio...
                            <br>
                            Download the full lyrics
                            <a href="\karma_police.txt" download="karma_police_lyrics">here</a>
                            <hr>

                            <strong>"Idioteque"</strong> -
                            <br>
                            Who's in a bunker?
                            <br>
                            Who's in a bunker?
                            <br>
                            Women and children first
                            <br>
                            And the children first
                            <br>
                            And the children...
                            <br>
                            Download the full lyrics
                            <a href="\idioteque.txt" download="idioteque_lyrics">here</a>
                            <hr>

                            <strong>"Nude"</strong> -
                            <br>
                            Don't get any big ideas
                            <br>
                            They're not gonna happen
                            <br>
                            You paint yourself white
                            <br>
                            And fill up with noise
                            <br>
                            There'll be something missing
                            <br>
                            And now that you found it
                            <br>
                            It's gone...
                            <br>
                            Download the full lyrics
                            <a href="\nude.txt" download="nude_lyrics">here</a>
                    </p>
                </div>

                <div class="p-4 albums-list">
                    <h4 class="font-italic">Other Noteworthy Albums</h4>
                    Albums that didn't happen to make the list, but well worth the listen and great in their own
                    respect.
                    <ol class="list-unstyled">
                        <br>
                        <h6><em>The Bends</em> - 1995</h6>
                        <li><img src="https://i.imgur.com/W7WGR9E.png" class="album"></li>
                        <br>
                        <h6><em>Amnesiac</em> - 2001</h6>
                        <li><img src="https://i.imgur.com/hAUiR6T.png" class="album"></li>
                        <br>
                        <h6><em>Hail to the Thief</em> - 2003</h6>
                        <li><img src="https://i.imgur.com/apo2rA8.png" class="album"></li>
                        <br>
                        <h6><em>A Moon Shaped Pool</em> - 2016</h6>
                        <li><img src="https://i.imgur.com/s10Jtam.png" class="album"></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h6>Image Sources</h6>
                    <div class="citation">
                        Jumbotron: https://wallpaperaccess.com/radiohead <br><br>
                        OK Computer: https://en.wikipedia.org/wiki/File:Radioheadokcomputer.png <br><br>
                        Kid A: https://en.wikipedia.org/wiki/File:Radioheadkida.png <br><br>
                        In Rainbows: https://en.wikipedia.org/wiki/File:Inrainbowscover.png <br><br>
                        Hail to the Thief: https://en.wikipedia.org/wiki/File:Radioheadhailtothethief.png <br><br>
                        The Bends: https://en.wikipedia.org/wiki/File:Radioheadthebends.png <br><br>
                        A Moon Shaped Pool: https://en.wikipedia.org/wiki/File:Amoonshapedpool.png <br><br>
                        Amnesiac: https://en.wikipedia.org/wiki/File:Radiohead_-_Amnesiac_cover.png <br><br>
                    </div>
                </div>
            </aside>
        </div>
    </main>


</body>